
 #main5 {
  float: right;
  /* border: 2px solid; */
  /* border-radius: 50%; */
  width: 96%;
  height: 100%;
  /* margin-left: 5%;     */
  margin-top: 1%;
  transition: width 0.5s;
  margin-right: 2%;

}

#chartleft {
  /* float: left; */
  border: 2px solid;
  /* border-radius: 50%; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin-left:14.5%; */
  margin-top: 1%;

}

#imgdiv {
  /* border: 2px solid red; */
  /* margin-left:15% */
  height: 10%;
  margin-top: 5%;
  width: 100%;


}

li {
  list-style: none;
  display: inline;
}

#per_li li {
  padding: 3.9%;
  font-weight: bold;
  font-size: 20px;
}

#per_li {
  /* margin-left: -1.5%;*/
  margin-top: -4%;

}

#chartsId {
  width: 95.5%;
  height: 25%; 
  /* margin-left:14.5%; */
}

#pie_chart {
  width: 33.5%;
  height: 52vh;
  background-color: white;
  float: right;
  /* margin-right: -1%; */
  margin-top:5%;

}

#graph_chart {
  width: 68%;
  height: 33vh;
  background-color: white;
  float: left;
  /* margin-left: 6%; */
  margin-right: 1%;
}

#tableId {
  width: 93.3%;
  height: 20%;
  /* margin-left:14.5%; */
  margin-top: 18%;
}

#table1 {
  width: 55%;
  height: 30vh;
  background-color: white;
  float: left;
  margin-top: 1%;
  font-family: Times New Roman;
  /* margin-bottom: 2%; */


}

#table2 {
  width: 50%;
  height: 30vh;
  background-color: white;
  float: right;
  /* margin-left: 1%; */
  margin-top: 1%;
  margin-right: -7%;
  font-family: Times New Roman;
  /* margin-bottom: 2%; */

}

/* .table11 {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  height: 100px;
} */

.tab9 {
  /* border-collapse: collapse; */
  width: 60%;
  margin: auto;
  margin-top: -4%;
 }

th,
td {
  text-align: left;
  padding: 6px;
  font-size: 18px;

}

.table11 tr:nth-child(even) {
  background-color: #f2f2f2;

}



.tab9 th {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 17px;
  text-align: center;

}

.tab9 td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 15px;
  text-align: center;
  /* font-weight: bold; */


}

#lab label {
  font-size: 20px;
  margin-left: 1%;
}

#lab input {
  margin-left: 1%;
  padding: 5px;
  border-radius: 5px;
}

#lab button {
  padding: 3px;
  border-radius: 5px;
  margin-left: 2%;
  font-weight: bold;
  color: var(--white);
  width: 13%;
  font-size: 18px;
}
::placeholder{
  font-weight: bold;
  /* text-align: center; */
  font-size: 15px;
}
#pie_canvas{
    width:100%;
    height: 70%;
}

.table-container {
width: 100%; /* Adjust the width as needed */
height: 100%; /* Adjust the height as needed */
overflow: auto;
border: 1px solid #ccc;
margin: auto;
}
table {
width: 100%;
/* border-collapse: collapse; */

}
th, td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}

thead{
position: sticky;
overflow: hidden;
top: 0%;
/* background-color: var(--pink); */
width: 300px;
}

.r{
  color: var(--white);

}
 