
* {
    margin: 0;
    padding: 0;
}

:root {
    --pink: #004e9eff;
    --wh: #f0f0f0;
    --gray:#888888;
    --white:white;

}

/* body {
    font-family: "Lato", sans-serif;
} */


 /* left menu bar css */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: bold;

}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--pink);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #888888;
}

#main {
    transition: margin-left .5s;
    /* padding: 10px; */
    /* height: 40px; */
    width: auto;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
} */
body {
    background-color: #f0f0f0  ;
}
 
a:hover {
    background-color: #888888;
}

/* left side bar css */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
}

.dropdown {
    /* width: 100px; */
    display: block;
    width: auto;
 }



.dropdown-content {
    display: none;
    position: relative;
    background-color: #888888;
    /* min-width: 160px; */
    width: 250px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    margin-top: 5px;
     
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    
}

.dropdown-content a:hover {
    background-color: #9c9898;
    /* color: black; */
}

/* .dropdown:hover > .dropdown-content {
    display: block;
} */
#heading{
margin-left: 50px;margin-top: -36px;font-weight: bold;
}



#my_footer {
    padding: 1px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
           /* background: linear-gradient(45deg,#e5007e,#f00077,#ca007b,#b4007d,#940081); */

            color: var(--white);
            text-align: center;
            height: 30px;
            font-size: 20px;
            z-index: 1;
        }
       
#h{
    /* background: linear-gradient(45deg,#e5007e,#f00077,#ca007b,#b4007d,#940081); */
    width: 100%;height: 70px;  position: fixed;z-index: 1;top: 0;
  }

  .hh1{
    background-color: var(--pink);
  }
     
  .multiColor{
    background: linear-gradient(45deg,#e5007e,#f00077,#ca007b,#b4007d,#940081);
  }
    
  .multiblue{
    background: linear-gradient(45deg,#3d89e2,#3b5dc4,#3535a4,#3600a1);

  }
     .sides{
      height: 69.5px;margin-top:-60px ;background-color: var(--pink);
     }
     .sides1{
      height: 69.5px;margin-top:-60px ;background-color: var(--pink);
     }
     .btn1{
width: 100%;
    font-weight:
     bold;color: var(--white);
     padding: 7px;
     border-radius: 5px;
    }
    #tab1{
        margin-bottom: 100px;
    }
    #tab2 {
        width: 90%;
        float: right;
        margin-right: 80px;
        transition: width 0.5s;
        padding-bottom: 100px;
    }
    /* #main5 {
        width: 98%;
        float: right; */
        /* margin-right: 10px; */
        /* transition: width 0.5s;
        padding-bottom: 100px;
    } */

/* Add a CSS transition for the width property */
#rightMenu {
display: none;
    transition: width 0.5s ease;
  }

  /* calender ke thead ke liye  */
/* 
.ui-datepicker-calendar thead{

    background-color: var(--pink);
    color: var(--white);
     } */


     /* footer button */
     #b{
        float: right;
        margin-right: 0.5%;
        border: none;
    
       }
       #b:hover{
     background-color: var(--wh);
     color: black;
    }